<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="bulltein">
	
	<select id="Maplist" resultType="com.bc.main.vo.BoardVO" parameterType="Map">
		SELECT * FROM (
		SELECT ROWNUM R_NUM, P.*
		  FROM (SELECT *
		          FROM B_BOARD
		          WHERE BBS_IDX = 3
		         ORDER BY BB_IDX DESC
		        ) P)
		 WHERE R_NUM BETWEEN #{beginPage} AND #{endPage}
	</select>
	 
	<select id="BullteinList" resultType="com.bc.main.vo.BoardVO">
		SELECT * FROM B_BOARD WHERE BBS_IDX = 3
	</select>

	<select id="totalCount" resultType="int">
		SELECT COUNT(BB_IDX) FROM B_BOARD WHERE BBS_IDX = 3
	</select>

	
	
	<select id="BullteinOne" resultType="com.bc.main.vo.BoardVO" parameterType="String">
		SELECT * FROM B_BOARD WHERE BB_IDX = #{bb_idx}
	</select>
	
	
	
	<insert id="BullteinWrite" parameterType="com.bc.main.vo.BoardVO">
		 INSERT INTO B_BOARD (BB_IDX, ID, TITLE, CONTENT, L_IDX, BBS_IDX)
					VALUES(BB_SEQ.NEXTVAL, 'test', #{title}, #{content}, 1, 3) 
	</insert>
	
	
	
	<update id="BullteinUpdate" parameterType="com.bc.main.vo.BoardVO">
		UPDATE B_BOARD
		       SET TITLE = #{title},
		         CONTENT = #{content}
		 	WHERE BB_IDX = #{bb_idx}
	</update>
	
	
	
	<delete id="BullteinDelete" parameterType="String">
		DELETE FROM B_BOARD WHERE BB_IDX = #{bb_idx}
	</delete>
	
	<delete id="BullteinDeleteComment" parameterType="String">
		DELETE FROM BB_COMMENT 
		 WHERE BB_IDX = #{bb_idx} 
	</delete>
	
	
	<update id="hitVO" parameterType="com.bc.main.vo.BoardVO">
		UPDATE B_BOARD 
		   SET HIT = #{hit} + 1 
		 WHERE BB_IDX = #{bb_idx}
	</update>
	
	<update id="hit" parameterType="int">
		UPDATE B_BOARD
		   SET HIT = HIT + 1
		 WHERE BB_IDX = #{bb_idx}
	</update>
	
	<update id="goodVO" parameterType="String">
		UPDATE B_BOARD 
		   SET GOOD = GOOD + 1 
		 WHERE BB_IDX = #{bb_idx}
	</update>
	
	<update id="badVO" parameterType="String">
		UPDATE B_BOARD 
		   SET BAD = BAD - 1 
		 WHERE BB_IDX = #{bb_idx}
	</update>
	
</mapper>
	
	






